#messageInput {
  height: 6em;
}

.form-label {
  color: black;
}

.errorMsg {
  color: red !important;
}

.font {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
}

.font-heavy {
  font-family: 'Inconsolata', monospace !important;
  font-weight: 500 !important;
}

.contactLink {
  text-decoration: none;
  color: black;
}

.contactLink:hover {
  color: gray;
}

#email {
  font-style: italic;
}