footer {
  background-color: #E5E4E2;
}

footer li {
  list-style: none;
}

footer i {
  background-color: black;
  color: grey;
}

footer ul {
  padding-left: 0 !important;
}

.font {
  font-family: "Inconsolata", monospace;
  font-weight: 400;
}

.font-heavy {
  font-family: "Inconsolata", monospace;
  font-weight: 500;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: grey;
}

.linkShadow {
  box-shadow: 1px 4px 10px grey;
}

#linkIcon {
  height: 48px;
  width: 48px;
}

@media only screen and (max-width: 633px) {
  #linkIcon {
    border-radius: 15% !important;
    margin: 5px auto 0 auto !important;
  }

  #linkContainer {
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .linkText {
    margin: 0px 5px 0px 5px;
  }
}

@media only screen and (max-width: 400px) {
  .linkText {
    display: none;
  }

  #linkContainer {
    padding: 0px !important;
    background-color: black;
    border-radius: 30% !important;
  }

  .socialLink {
    margin: 0;
  }

  #iconLinks li {
    padding: 0px !important;
  }

  #linkIcon {
    margin: 0px !important;
    border-radius: 30% !important;
  }
}