:root {
  --border1: black;
}

header {
  background-color: #FAFAFA;
}

.contentContainer {
  min-height: calc(100vh - 119px);
}

#banner {
  position: relative;
}

.bannerImage {
  max-width: 100% !important;
  max-height: 275px !important;
}

#subtitle {
  border: 4px solid var(--border1);
  max-width: 100px;
  position: absolute;
  bottom: 85px;
  right: 40px;
}