.font {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
}

.font-heavy {
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
}

nav {
  background-color: #E5E4E2;
}

.nameText {
  color: gray;
}

#contactModal {
  color: rgba(0,0,0,.55);
}

#contactModal:hover {
  color: rgba(0,0,0,.70);
}

@media only screen and (max-width: 991px) {
  .navItems {
    margin-left: 2em;
    padding: 4px 0 !important;
  }
}