.portfolioCard > img {
  height: 5em;
}

div > a > i {
  color: black;
  background-color: white;
}

img[class*="projectImg"] {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

img[class*="projectImg"]:hover {
  filter: grayscale(75%);
  -webkit-filter: grayscale(75%);
}

.font {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
}

.font-heavy {
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
}

.portfolioCard a {
  text-decoration: none;
  color: black;
}

.portfolioCard a:hover {
  color: grey;
}