.portfolioCard > img {
  height: 5em;
}

div > a > i {
  color: black;
  background-color: white;
}

img[class*="projectImg"] {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

img[class*="projectImg"]:hover {
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
}

.font {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
}

.font-heavy {
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
}

.portfolioCard a {
  text-decoration: none;
  color: black;
}

.portfolioCard a:hover {
  color: grey;
}

@media only screen and (max-width: 1000px) {
  #projectCards {
    width: 100% !important;
  }
}