li {
  list-style: none;
}

/* a {
  text-decoration: none !important;
  color: green !important;
} */

.border, .border-end {
  border-color: black !important;
}

i {
  background-color: black;
  color: grey;
}

ul {
  padding-left: 0 !important;
}

.font {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
}

.font-heavy {
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
}