li {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.border, .border-end {
  border-color: black !important;
}

i {
  background-color: black;
  color: grey;
}

ul {
  padding-left: 0 !important;
}